*{
	margin: 0%;
	padding: 0%;

}
html { height: 100%;max-width:100% }
body { height: 100%; margin: 0; padding: 0 ;max-width:100%; background: #000000}

header, section, footer, aside, nav, article, figure, hgroup{
	display: block;
}

body{
	text-align: center;
}

a:link {text-decoration:none;color:#000000;} 


a:visited {text-decoration:none;color:#000000;} 


a:active {text-decoration:none;color:#058907;} 


a:hover {text-decoration:underline;} 


#agrupar{
	width: 95%; /*Ancho del contenedor*/
	max-width: 95%; 
	text-align: left; 
} 

#menu{
	background: #FFE000;
	padding: 0.5% 2.5%;
	width: 100%;
	border: solid;
	border-color: #000000;
}

#menu li:first-child{
	width: 12%;
	text-align: center;
}

#menu li:nth-child(4){
	text-decoration:underline;
	color:#E87C0C;
}


#menu li{	
	display: inline-block;
	list-style: none;
	padding:  0% 3%;
	font: bold 90% verdana, sans-serif;	
	text-shadow: rgb(150,150,150) 0.3% 0.3% 0.5%;
}



#texto{
	width: 80%;
	margin: 10%;
	margin-top: 5%;
	float: left;
	text-align: center;
	color: #FFE000;
}

img { max-width: 100%};


#texto a:link {text-decoration:none;color:#ECA153;} 


#texto a:visited {text-decoration:none;color:#ECA153;} 


#texto a:active {text-decoration:none;color:#058907;} 


#texto a:hover {text-decoration:underline;} 
