*{
	margin: 0;
	padding: 0;
}
html { height: 100%;width:100%;background: #000000; color: #E87C0C }

div{
	display: inline-block;
}

.venticinco{
	width: 24%;
	border-left: solid;
	border-left-color: #ECA153;		
	float: left;
	border-bottom: solid;
	border-bottom-color: #ECA153; 
}

.venticinco2{
	width: 24%;			
	float: left;
	border-bottom: solid;
	border-bottom-color: #ECA153; 
}

#pendiente{
	width: 24%;
	height: 100%;	
	float: left; 
}

#camino{	
	width: 24%;
	height: 100%;
	border-left: solid;
	border-left-color: #ECA153; 	
	float: left; 
}

#viaje{
	width: 24%;
	height: 100%;
	border-left: solid;
	border-left-color: #ECA153;	
	float: left;  
}

#finalizado{
	width: 24%;
	height: 100%;
	border-left: solid;
	border-left-color: #ECA153; 	
	float: left; 
}

li{
	border-bottom: solid;
	border-bottom-color: #ECA153;
}

ul{
	list-style-type: none;
	list-style: none;
}
