*{
	margin: 0;
	padding: 0;
}
html { height: 100%;width:100%;background: #000000; color: #E87C0C }

div{
	display: inline-block;
}

#pendiente{
	width: 24%;
	height: 100%;
	border-right: solid;
	border-right-color: #ffffff;
}

#camino{	
	width: 24%;
	height: 100%;
	border-right: solid;
	border-right-color: #ffffff;
	}

#viaje{
	width: 24%;
	height: 100%;
	border-right: solid;
	border-right-color: #ffffff;
}

#finalizado{
	width: 24%;
	height: 100%;
}

li{
	border-bottom: solid;
	border-bottom-color: #E87C0C;
}

ul{
	list-style-type: none;
	list-style: none;
    padding: 0px;
    margin: 0px;
}
