*{
	margin: 0%;
	padding: 0%;
	display: block;
	background: black;
	color: #FFE000;
	max-width: 95%
}

section{
	border: none;
}

input{
	margin-top: 1%;
}

p{
	margin-top: 1%;
}

#titulo{
	text-align: center;
	margin-left: 35%;
}

#nombreEmpresa{
	font-size: 120%;
}

#datos{
	margin-top: 5%;
	float: left;
	text-align: left;
	color: #FFE000;
}

#puntajes{
	margin-top: 5%;
	margin-left: 25%;
	width: 50%;
	float: left;
	text-align: left;
	color: #FFE000;
}

.noMargin{
	margin: 0%;
	padding: 0%;
	display: inline;
}

#btnOpinar{
	text-decoration: none;    
	width: 25%;
	background: yellow;
	color: black;
	margin-top: 7%;
	box-shadow: none;
	border: none;
}

p.bordeTop{	
	margin-top: 1%;
	padding: 0%;
	border-top: solid;
	border-top-width: thin;
	text-decoration: underline;
	font-size: 110%;
}

#formSection{
	margin-left: 25%;
	width: 100%;
	text-align: left;
	float: left;
}

img { max-width: 100%;}

#opinones{
	margin: 0%;
	padding: 0%;		
	float: left;
	text-align: left;
	color: #FFE000;	
}

@media screen and (max-width: 720px) { 

	* {
		float: none;		
    }

    #puntajes{
	margin-top: 3%;
	margin-left: 0%;
	text-align: left;
	color: #FFE000;
}

}